
@{
    ViewData["Title"] = "about";
}

<h1>about</h1>

<body>
    <form action="about" method="post">
        <p>Please enter your first and last name:</p>
        <input type="text" name="Name" placeholder="" required />
        <input type="text" name="Surname" placeholder="" required />
        <input type="text" name="Email" placeholder="" required />
        <button type="submit">Submit</button>
    </form>
</body>